@import './reset.css';
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');




.body{
    font-family: 'Poppins', sans-serif; 
}

.header{
    padding:0 215px;
    background: #F1F1F1;
}

.container{
    width: 1200px;
}

.nav{
    display: flex;
    justify-content: space-between;
}

.nav_logo a{
    font-weight: 700;
    font-size:32px;
    color:#000000;
    position: absolute;
    top:46px;
}

.nav_list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:446px;
    position: absolute;
    top: 60px;
    right:215px;
    list-style-type: none;
}

.nav_items a{
    color: #000000;
}

.home a{
    color: #606060;
    line-height: 21px;
}

.boll{
    position: absolute;
    top:73px;
    left:322px;
}

.header_bottom{
    position: absolute;
    top:281px;
    left:215px;
}

.content{
    width:482px;
    font-weight: 600;
    font-size: 44px;
    color:#000000;
    padding:20px;
}

.text{
    width:500px;
    font-weight: 400;
    font-size: 14px;
}

.picture{
    position:absolute;
    top:157px;
    left:891px;
}

